body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

#router-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.router {
  position: relative; /* Cambiar a posición relativa */
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #ccc;
  flex-basis: calc(25% - 10px);
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden; /* Evitar que el contenido se desborde */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Resto del CSS ... */


.router h2 {
  margin-top: 0;
}

.join-btn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #0069d9;
}

#routing-table {
  border-collapse: collapse;
  width: 100%;
}

#routing-table th,
#routing-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#routing-table th {
  background-color: #007bff;
  color: #fff;
}

.status-indicator {
  width: 10px;
  height: 10px;
  background-color: #28a745; /* Color verde para indicar conexión */
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  display: block; /* Inicialmente visible */
}

.connected .status-indicator {
  background-color: #28a745; /* Color verde para indicar conexión */
  display: block;
}
