body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

#router-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.router {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #ccc;
  flex-basis: calc(25% - 10px);
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.router h2 {
  margin-top: 0;
}

.join-btn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #0069d9;
}

#routing-table {
  border-collapse: collapse;
  width: 100%;
}

#routing-table th,
#routing-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#routing-table th {
  background-color: #007bff;
  color: #fff;
}